@charset "utf-8";
@import url("../../css/diseño_pagina.css");
.button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}
